
<div class="container w-75">
    <h1 class="text-center">Bienvenido <%= current_user.name %></h1>
    <% if current_user.role =='admin' %>
        <p class="container-sm text-center w-50 p-3">
            Bienvenido Administrador, este es una pagina para realizar registro o hacer evaluacion de los inventarios de los activos en el area de Gerencia de Telecommunicaciones 
        </p>  
        <div class="position-relative">
            <div class="container-sm w-50">
                <img src="https://cloudfront-us-east-1.images.arcpublishing.com/elcomercio/DYO436B4FZB7NDCNSXVMBUHZWI.jpg" class="img-fluid centro " width=100% height=100px  > 
            </div>
        </div>
        <br>      
    <%end%>
    <% if current_user.role =='client' %>
        <p class="container-sm text-center w-50 p-3">
            Bienvenido Cliente, este es una pagina para visualizar los inventarios de los activos en el area de Gerencia de Telecommunicaciones
        </p>  
        <div class="position-relative">
            <div class="container-sm w-50">
                <img src="https://cloudfront-us-east-1.images.arcpublishing.com/elcomercio/DYO436B4FZB7NDCNSXVMBUHZWI.jpg" class="img-fluid centro " width=100% height=100px  > 
            </div>
        </div>
        <br>      
    <%end%>
    <div class="container text-center">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Activos
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Activos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Elija un activo para modificar o visualizar:
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <a href="<%= screens_path %>">
                        <button type="button" class="btn btn-primary">
                            Pantallas
                        </button>
                    </a>
                    <a href="<%= computers_path %>">
                        <button type="button" class="btn btn-primary">
                            Computadoras
                        </button>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>


</div>

